/* ---------- Estilos Globales ---------- */

:root {
    --text-main: #27343d;
    --bg-main: #f2f5f7;

    --card-border: #a5bed0;
    --card-hover: #8ec6e8;

    --btn-bg: #ffffff;
}

.dark-mode {
    --text-main: #e6eef3;
    --bg-main: #0e1820;

    --card-border: #5e7e92;
    --card-hover: #4a6473;

    --btn-bg: #2c3a43;
}

body {
    color: var(--text-main);
    background: var(--bg-main); 
}


/* ---------- Navegación ---------- */

.navbar-lofi {
    background: #1C252C;
    padding: 0.8rem 1rem;
}

.navbar-lofi .navbar-brand {
    color: #E5EBEF;
    font-weight: 800;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
}

.navbar-brand img {
    height: 50px;
    margin-right: 10px;
}

.nav-link {
    color: #E5EBEF;
    font-size: 18px;
    margin: 0 8px;
    transition: 0.3s ease;
}

.nav-link:hover {
    color: #83b6da;
    transform: translateY(-2px);
}

#navCollapseBtn { 
    border: none; 
} 

.navbar-toggler-icon { 
    filter: invert(90%); 
}

.navbar-nav {
    display: flex;
    align-items: center;
}

#darkModeBtn {
    color: #E5EBEF;
    width: auto;
    margin-left: 10px;
    transition: 0.3s ease;
}

#darkModeBtn:hover {
    color: #83b6da;
    transform: translateY(-2px);
}


/* ---------- Hero ---------- */

.hero {
    background: #1C252C;
    padding: 10px;
    text-align: center;
}

.hero-content {
    max-width: 700px;
    margin: 0 auto;
}

.hero-title {
    color: #b9d8ec;
    font-size: 4rem;
    letter-spacing: 5px;
}

.hero-subtitle {
    color: #E5EBEF;
    font-size: 1.5rem;
    opacity: 0.85;
}

.hero-btn {
    background: #AFCBDF14; 
    color: #E5EBEF;
    border: 2px solid #b9d8ec55; 
    border-radius: 100px;
    padding: 10px;
    margin: 10px auto;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
    transition: 0.3s;
    box-shadow: 0 0 10px #AFCBDF26;
    text-decoration: none;
    display: inline-block;
}

.hero-btn:hover {
    background: #b9d8ec;
    color: #1C252C;
    text-decoration: none;
}


/* ---------- Carrusel ---------- */

.carousel-lofi {
    width: 90%;
    max-width: 720px;
    margin: 25px auto;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    box-shadow:
        0 0 35px #0091ff66,
        0 0 60px #02294c40;
}

.carousel-lofi img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ---------- Presentación ---------- */

.presentacion-lofi {
    max-width: 900px;
    margin: 5px auto;
    padding: 2px 30px;
}

.presentacion-text {
    color: var(--text-main);
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.5;
}


/* ---------- Cartas ---------- */

.cards-lofi {
    padding: 15px;
}

.cards-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px;
}

.cards-row {
    justify-content: center;
}

.card-mood {
    color: var(--text-main);
    background: var(--bg-main);
    border: 2.5px solid var(--card-border);
    border-radius: 30px;
    transition: 0.3s;
}

.card-mood:hover {
    box-shadow: 0 0 20px var(--card-hover);
    transform: translateY(-5px);
}

.img-mood {
    max-width: 180px;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
}

.card-body {
    display: flex;
    flex-direction: column;
    height: 100%;  
}

.title-mood {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 800;
}

.text-mood {
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.8;
}

.btn-container {
    display: flex;
    margin-top: auto;
    justify-content: center;
}

.btn-mood {
    background: var(--btn-bg);
    color: var(--text-main);
    border: 3px solid ;
    border-radius: 50px;
    padding: 6px 14px;
    font-weight: 600;
    transition: 0.3s;
    text-decoration: none;
}

.btn-mood:hover {
    color: #2f3234;
    transform: translateY(-2px);
}


/* ---------- Carta Alegría ---------- */

.card-alegria .title-mood {
    color: #efc90a;
}

.btn-alegria {
    border-color: #f6c525f8;
}

.btn-alegria:hover {
    background: #f9e594;
}


/* ---------- Carta Tristeza ---------- */

.card-tristeza .title-mood {
    color: royalblue; 
}

.btn-tristeza {
    border-color: #6e9de0ee;
}

.btn-tristeza:hover {
    background: #a6c2e0;
}


/* ---------- Carta Furia ---------- */

.card-furia .title-mood {
    color: crimson; 
}

.btn-furia {
    border-color: #d10303a5;
}

.btn-furia:hover {
    background: #e99898;
}


/* ---------- Carta Desagrado ---------- */

.card-desagrado .title-mood {
    color: darkgreen; 
}

.btn-desagrado {
    border-color: #3b8019cc;
}

.btn-desagrado:hover {
    background: #aee18e;
}


/* ---------- Carta Temor ---------- */

.card-temor .title-mood {
    color: darkmagenta; 
}

.btn-temor {
    border-color: #6551b9cc;
}

.btn-temor:hover {
    background: #cbbcf9;
}